* {
	box-sizing: border-box;
}
a {
	text-decoration: unset;
	color: unset;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #212426;
	font-family: "Inter", sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

.search {
	width: 30rem;
	margin-inline: auto;

	display: flex;

	padding: 0.8rem 1.75rem;
	border-radius: 3rem;
	background: #54616d;
	-webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
	box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
	flex: 1;
	border: none;
	font-size: 1rem;
	font-family: var(--font-raleway);
	font-weight: 500;
	padding-right: 1rem;
	letter-spacing: 0.1rem;
	outline: none;
	color: #e4dcdc;
	background: #54616d;
}

.movie {
	min-width: 13rem;
	max-width: 17rem;
	height: 17rem;
	margin: 1.5rem;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	border: none;

	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.05, 1.05);
}

.movie-image {
	border: solid rgb(60, 55, 55) 1px;
	width: 100%;
	height: 100%;
}

.movie-image img {
	height: 100%;
	width: 100%;
}

.movie-title {
	z-index: 0;
	background-color: #343739;
	padding: 0 1rem;
	position: absolute;
	height: 5rem;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: "Roboto Slab", serif;
	color: #f9d3b4;
	font-size: small;
}

.movie:hover .movie-title {
	height: 100%;
	opacity: 0.8;
	/* background-color: transparent; */
}

.header {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.header h1 {
	margin-inline: auto;

	font-size: 6rem;
	letter-spacing: 1rem;
	background: linear-gradient(
		90deg,
		rgba(249, 211, 180, 0.933) 0%,
		rgba(249, 211, 180, 0.115) 40%,
		rgba(249, 211, 180, 0.816) 110%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: fit-content;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(
			rgba(50, 50, 50, 0.3),
			rgba(60, 60, 60, 0.3)
		),
		url("./assets/pexels-roberto-nickson-3131971.jpg");
	background-size: cover;
}

.home {
	display: flex;
	flex-direction: column;
}

.movie-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.movie-section h2 {
	margin-left: 1.5rem;
	color: #a1a1a1;
}

.movie-list {
	display: flex;
	justify-content: start;
	overflow-x: scroll;
}

.movie-detail-page {
	color: aliceblue;
	display: flex;
	overflow-y: scroll;
	margin: 4rem;
	border-radius: 30px;
}

.movie-detail-container {
	display: flex;
	flex-direction: column;
	margin-left: 4rem;
	margin-block: 4rem;
}
.movie-detail-image {
	height: 18rem;
	width: 14rem;
	& img {
		border-radius: 6px;
		width: 100%;
		height: 100%;
	}
}

.movie-detail-options {
	display: flex;
	flex-direction: column;
	width: 14rem;
	height: 18rem;
	padding-block: 2rem;
	& button {
		padding: 0.5rem;
		margin-right: auto;
		margin-bottom: 1rem;
		cursor: pointer;
	}
}

.movie-detail-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2.5rem;
}

.movie-detail-info span {
	display: flex;
	align-items: last baseline;
}

.back-button {
	padding-left: 2rem;
	display: flex;
	align-items: baseline;

	& p {
		color: aliceblue;
		font-style: italic;
	}
}

.navbar {
	display: flex;
	align-items: baseline;
	margin-inline: 1.5rem;
}

.login-link {
	display: flex;
	flex-direction: row;
	align-items: baseline;

	& h3 {
		color: white;
	}
}
.login-icon {
	max-height: 3rem;
	border: solid white;
	border-radius: 22px;
	padding: 0.3rem;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding-inline: 1.5rem;
	margin-block: 2rem;
	& h1 {
		color: white;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 25rem;
	background: rgba(166, 222, 255, 0.7);
	padding: 3rem;
	border-radius: 10px;
}

.login-form > label {
	font-weight: 600;
	margin-top: 1rem;
}

.login-form > input {
	border: 1px solid rgba(209, 213, 219);
	height: 2.6rem;
	text-indent: 10px;
	font-family: "Inter", sans-serif;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
	font-weight: 400;
}

.login-form > input:first-of-type {
	border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
	border-radius: 0px 0px 6px 6px;
}

.login-form > button {
	background-color: rgb(53, 194, 209);
	border: none;
	border-radius: 6px;
	height: 3rem;
	margin-top: 1.5rem;
	color: white;
	font-weight: 550;
	letter-spacing: 0.1rem;
	font-size: medium;
	font-family: "Inter", sans-serif;
	cursor: pointer;
}

.profile-container {
	font-family: Arial, sans-serif;
	padding: 2rem;
	margin-block: 4rem;
	margin-inline: 6rem;
	border-radius: 70px;
	background-color: rgba(173, 216, 230, 0.5);
}

.user-details h1 {
	color: #282727;
}

.user-details,
.favorites,
.watchlist {
	margin-bottom: 20px;
	& h2 {
		color: black;
	}
}
